<h3>Create Profil</h3>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="titre">titre:</label>
      <input type="text" formControlName="titre" placeholder="titre" name="titre" class="form-control"
      id="titre">
    </div>

    <div class="form-group">
      <label for="name">Description:</label>
      <input type="text" formControlName="description" placeholder="titre" name="description" class="form-control"
      id="description">
    </div>


    <button class="btn btn-success" type="submit" (click)="onSubmit()" >Submit</button>
  </form>

