<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Candidature</h5>
                                    <span class="h2 font-weight-bold mb-0">350</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Offres d'emploi</h5>
                                    <span class="h2 font-weight-bold mb-0">2,356</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow ">
                                        <i class="fas fa-chart-bar"></i> </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Clients</h5>
                                    <span class="h2 font-weight-bold mb-0">924</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Profil</h5>
                                    <span class="h2 font-weight-bold mb-0">4</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                </div>
                            </div>
                            <!--<p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Liste des Candidatures les plus exprimentés</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Nom et prénom</th>
                                <th scope="col">Profil</th>
                                <th scope="col">Nombre d'année d'expérience</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                            <span class="mb-0 text-sm">Argon Design System</span>
                                        </div>-->
                                    </div>
                                </th>
                                <td>
                                    Larine Khayat
                                </td>
                                <td>
                                    <i> FullStack JS</i>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>2</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn  btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                          <span class="mb-0 text-sm">Argon Design System</span>
                                      </div>-->
                                    </div>
                                </th>
                                <td>
                                    Asma Mehrzi
                                </td>
                                <td>
                                    <i> PHP</i>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>1</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn  btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- Dark table1 -->
    <div class="row mt-5">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">
                        Liste des Candidatures les moins exprimentés
                    </h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">logo</th>
                                <th scope="col">Nom et prénom</th>
                                <th scope="col">Profil</th>
                                <th scope="col">Nombre d'année d'expérience</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                      <span class="mb-0 text-sm">Argon Design System</span>
                                  </div>-->
                                    </div>
                                </th>
                                <td>
                                    Asma Mehrzi
                                </td>
                                <td>
                                    <i> PHP</i>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>1</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--light3-->
    <div class="row mt-5">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Liste des clients les plus offrantes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">logo</th>
                                <th scope="col">Nom de société</th>
                                <th scope="col">type</th>
                                <th scope="col">lieu</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-3-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                  <span class="mb-0 text-sm">Argon Design System</span>
                              </div>-->
                                    </div>
                                </th>
                                <td>
                                    PrestaComputer1
                                </td>
                                <td>
                                    PME
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>Nantes,France</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn  btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-2-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                      <span class="mb-0 text-sm">Argon Design System</span>
                                  </div>-->
                                    </div>
                                </th>
                                <td>
                                    PrestaCoputer
                                </td>
                                <td>
                                    Startup
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>Paris,France</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn  btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card bg-default shadow">
                <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">
                        Liste des clients les moins offrantes
                    </h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">logo</th>
                                <th scope="col">Nom de société</th>
                                <th scope="col">type</th>
                                <th scope="col">lieu</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-4-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                              <span class="mb-0 text-sm">Argon Design System</span>
                          </div>-->
                                    </div>
                                </th>
                                <td>
                                    PrestaComputer1
                                </td>
                                <td>
                                    PME
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>Nantes,France</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="../assets/img/theme/team-1-800x800.jpg">
                                        </a>
                                        <!--<div class="media-body">
                                  <span class="mb-0 text-sm">Argon Design System</span>
                              </div>-->
                                    </div>
                                </th>
                                <td>
                                    PrestaCoputer
                                </td>
                                <td>
                                    Startup
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <span>Paris,France</span>

                                    </div>
                                </td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="fas fa-eye"></span> </a>
                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>